.searchbar input{
    width: 40vw;
    height: 50px;
    border-radius: 50px;
    border: solid 1px #e4e4e4;
    outline: none;  
    padding-left: 40px;
    font-weight: 400;
    font-size: 18px;
}

.search-svg{
    height: 70vh;
}